* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v151_188 {
    width: 100%;
    height: 9203px;
    background: rgba(255,248,207,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v151_191 {
    width: 312px;
    color: rgba(128,128,128,0.550000011920929);
    position: absolute;
    top: 9061px;
    left: 46px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v151_192 {
    width: 480px;
    color: rgba(128,128,128,0.550000011920929);
    position: absolute;
    top: 9144px;
    left: 480px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v151_197 {
    width: 100%;
    height: 9001px;
    background: url("../images/v151_197.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 47px;
    overflow: hidden;
  }
  .v151_198 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_198.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 417px;
    left: 0px;
    overflow: hidden;
  }
  .v151_199 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_199.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 754px;
    left: 0px;
    overflow: hidden;
  }
  .v151_201 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_201.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1986px;
    left: 0px;
    overflow: hidden;
  }
  .v151_202 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_202.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2589px;
    left: 0px;
    overflow: hidden;
  }
  .v151_203 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_203.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3191px;
    left: 0px;
    overflow: hidden;
  }
  .v151_204 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_204.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3777px;
    left: 0px;
    overflow: hidden;
  }
  .v151_205 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_205.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4893px;
    left: 0px;
    overflow: hidden;
  }
  .v151_206 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_206.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5860px;
    left: 0px;
    overflow: hidden;
  }
  .v151_207 {
    width: 771px;
    height: 281px;
    background: url("../images/v151_207.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 151px;
    overflow: hidden;
  }
  .v151_208 {
    width: 683px;
    height: 249px;
    background: url("../images/v151_208.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 754px;
    left: 177px;
    overflow: hidden;
  }
  .v151_209 {
    width: 531px;
    height: 193px;
    background: url("../images/v151_209.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2285px;
    left: 670px;
    overflow: hidden;
  }
  .v151_212 {
    width: 632px;
    height: 230px;
    background: url("../images/v151_212.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1965px;
    left: 177px;
    overflow: hidden;
  }
  .v151_213 {
    width: 632px;
    height: 230px;
    background: url("../images/v151_213.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2568px;
    left: 177px;
    overflow: hidden;
  }
  .v151_214 {
    width: 607px;
    height: 221px;
    background: url("../images/v151_214.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3177px;
    left: 177px;
    overflow: hidden;
  }
  .v151_215 {
    width: 607px;
    height: 221px;
    background: url("../images/v151_215.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3763px;
    left: 177px;
    overflow: hidden;
  }
  .v151_216 {
    width: 709px;
    height: 258px;
    background: url("../images/v151_216.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4879px;
    left: 177px;
    overflow: hidden;
  }
  .v151_217 {
    width: 459px;
    height: 167px;
    background: url("../images/v151_217.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5883px;
    left: 177px;
    overflow: hidden;
  }
  .v151_218 {
    width: 554px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 842px;
    left: 242px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_220 {
    width: 503px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2028px;
    left: 242px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_221 {
    width: 503px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2631px;
    left: 238px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_222 {
    width: 503px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3243px;
    left: 237px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_223 {
    width: 454px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3837px;
    left: 253px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_224 {
    width: 510px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 4953px;
    left: 274px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_225 {
    width: 235px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5944px;
    left: 289px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_226 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2359px;
    left: 786px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_228 {
    width: 702px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 483px;
    left: 190px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v151_229 {
    width: 683px;
    height: 249px;
    background: url("../images/v151_229.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2863px;
    left: 518px;
    overflow: hidden;
  }
  .v151_230 {
    width: 611px;
    height: 223px;
    background: url("../images/v151_230.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3469px;
    left: 590px;
    overflow: hidden;
  }
  .v151_231 {
    width: 512px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2954px;
    left: 612px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_232 {
    width: 512px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3554px;
    left: 650px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_233 {
    width: 607px;
    height: 333px;
    background: url("../images/v151_233.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4063px;
    left: 177px;
    overflow: hidden;
  }
  .v151_234 {
    width: 607px;
    height: 341px;
    background: url("../images/v151_234.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4467px;
    left: 177px;
    overflow: hidden;
  }
  .v151_235 {
    width: 681px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 286px;
    left: 333px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v151_236 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_236.png");
    opacity: 1;
    position: absolute;
    top: 1116px;
    left: 1233px;
    border-radius: 50%;
  }
  .v151_310 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_310.png");
    opacity: 1;
    position: absolute;
    top: 2324px;
    left: 1233px;
    border-radius: 50%;
  }
  .v151_239 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_239.png");
    opacity: 1;
    position: absolute;
    top: 2917px;
    left: 1233px;
    border-radius: 50%;
  }
  .v151_240 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_240.png");
    opacity: 1;
    position: absolute;
    top: 3502px;
    left: 1233px;
    border-radius: 50%;
  }
  .v151_241 {
    width: 567px;
    height: 567px;
    background: url("../images/v151_241.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5208px;
    left: 177px;
    overflow: hidden;
  }
  .v151_242 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_242.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6688px;
    left: 0px;
    overflow: hidden;
  }
  .v151_243 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_243.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7636px;
    left: 0px;
    overflow: hidden;
  }
  .v151_244 {
    width: 136px;
    height: 207px;
    background: url("../images/v151_244.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8098px;
    left: 0px;
    overflow: hidden;
  }
  .v151_245 {
    width: 607px;
    height: 221px;
    background: url("../images/v151_245.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6674px;
    left: 177px;
    overflow: hidden;
  }
  .v151_246 {
    width: 531px;
    height: 193px;
    background: url("../images/v151_246.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7649px;
    left: 177px;
    overflow: hidden;
  }
  .v151_247 {
    width: 531px;
    height: 193px;
    background: url("../images/v151_247.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8111px;
    left: 177px;
    overflow: hidden;
  }
  .v151_248 {
    width: 343px;
    height: 124px;
    background: url("../images/v151_248.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7147px;
    left: 522px;
    overflow: hidden;
  }
  .v151_249 {
    width: 343px;
    height: 125px;
    background: url("../images/v151_249.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6974px;
    left: 522px;
    overflow: hidden;
  }
  .v151_250 {
    width: 468px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6748px;
    left: 253px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_251 {
    width: 358px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7717px;
    left: 263px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_252 {
    width: 681px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7480px;
    left: 341px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v151_253 {
    width: 388px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8179px;
    left: 248px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_254 {
    width: 839px;
    color: rgba(247,193,52,1);
    position: absolute;
    top: 8871px;
    left: 254px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v151_255 {
    width: 221px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7188px;
    left: 585px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v151_256 {
    width: 525px;
    height: 192px;
    background: url("../images/v151_256.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6438px;
    left: 676px;
    overflow: hidden;
  }
  .v151_257 {
    width: 525px;
    height: 192px;
    background: url("../images/v151_257.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6142px;
    left: 673px;
    overflow: hidden;
  }
  .v151_258 {
    width: 525px;
    height: 192px;
    background: url("../images/v151_258.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7886px;
    left: 676px;
    overflow: hidden;
  }
  .v151_259 {
    width: 512px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6514px;
    left: 682px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_260 {
    width: 512px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6224px;
    left: 679px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v151_261 {
    width: 428px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7953px;
    left: 724px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v151_267 {
    width: 134px;
    height: 176px;
    background: url("../images/v151_267.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8510px;
    left: 280px;
    overflow: hidden;
  }
  .v151_268 {
    width: 134px;
    height: 176px;
    background: url("../images/v151_268.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8510px;
    left: 945px;
    overflow: hidden;
  }
  .v151_269 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_269.png");
    opacity: 1;
    position: absolute;
    top: 6438px;
    left: 1233px;
    border-radius: 50%;
  }
  .v151_270 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_270.png");
    opacity: 1;
    position: absolute;
    top: 6142px;
    left: 1230px;
    border-radius: 50%;
  }
  .v151_271 {
    width: 114px;
    height: 114px;
    background: url("../images/v151_271.png");
    opacity: 1;
    position: absolute;
    top: 7890px;
    left: 1233px;
    border-radius: 50%;
  }
  .name {
    color: #fff;
  }
  .v151_273 {
    width: 531px;
    height: 708px;
    background: url("../images/v151_273.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1139px;
    left: 670px;
    overflow: hidden;
  }
  .v151_274 {
    width: 360px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 62px;
    left: 490px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v151_275 {
    width: 282px;
    color: rgba(255,184,0,1);
    position: absolute;
    top: 169px;
    left: 37px;
    font-family: Mochiy Pop One;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v151_276 {
    width: 128px;
    height: 169px;
    background: url("../images/v151_276.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 17px;
    transform: rotate(-40deg);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v151_282 {
    width: 95px;
    height: 95px;
    background: url("../images/v151_282.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6130px;
    left: 1041px;
    overflow: hidden;
  }
  .v151_283 {
    width: 82px;
    height: 82px;
    background: url("../images/v151_283.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2863px;
    left: 1042px;
    overflow: hidden;
  }
  .v151_284 {
    width: 79px;
    height: 79px;
    background: url("../images/v151_284.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3475px;
    left: 1053px;
    overflow: hidden;
  }
  .v151_285 {
    width: 97px;
    height: 97px;
    background: url("../images/v151_285.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8082px;
    left: 202px;
    overflow: hidden;
  }
  